@charset "utf-8";
/* CSS Document */

html {
	height: 100%;
}

body {
	background-image: url(BowSwoosh.gif);
	background-size: contain;
	background-position: left top;
	background-repeat: no-repeat;
	height: 100%;
}

.logo {
	margin-top: 100px;
}

.jumbotron {
	background-color: #CCCCCC;
}

.padTop {
	padding-top: 250px;
}

div {
	background-color: transparent;
}
